[Unit]
Description=Generate GitKeeper MOTD
Documentation=man:gitkeeper(1)
After=network.target
ConditionPathExists=/etc/gitkeeper.conf

[Service]
Type=oneshot
ExecStart=gitkeeper motd
