[Unit]
Description=Generate Gitkeeper MOTD
After=network.target
ConditionPathExists=/etc/gitkeeper.conf

[Service]
Type=oneshot
ExecStart=gitkeeper motd
