#!/usr/bin/make -f

include /usr/share/dpkg/pkg-info.mk

%:
	dh $@

execute_before_dh_install:
	sed -i '/__VERSION__ = /c__VERSION__ = "$(DEB_VERSION)"' gitkeeper

execute_before_dh_installman:
ifeq (,$(filter nodoc,$(DEB_BUILD_OPTIONS)))
	go-md2man -in docs/gitkeeper.1.md -out docs/gitkeeper.1
endif

override_dh_installsystemd:
	dh_installsystemd --name=gitkeeper-motd
